*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.content{
    background-color: whitesmoke;
    padding:30px 0;

}

.logo{
    padding:10px 20px;
    vertical-align: middle;
}
.logo-text{
    
}

.tie{
    background-color: white;
    max-width: 800px;
    margin:0px auto;
    padding:10px 40px;
    border-radius:8px;
}

